body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.quiz-container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.answer-btn {
    display: block;
    margin: 5px;
    width: 100%;
}
